/* COLORI */
/* rosso #E50914 */
/* grigio #303030 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  height: 100vh;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80px;
  color: white;
  background-color: black;
}
h1 {
  text-transform: capitalize;
  color: #E50914;
}
input, button {
  padding: 10px;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
input:focus {
  width: 400px;
  outline: none;
}

/* MAIN */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding: 40px;
  background-color: #303030;
}
.card {
  position: relative;
  margin: 20px 10px;
  height: 330px;
  width: 220px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  background-color: black;
  border: 2px solid white;
}
.card img {
  width: 100%;
}
span {
  margin-right: 10px;
  font-weight: 500;
}
.informations {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
  background-color: black;
  transition: 0.6s;
  overflow-wrap: break-word;
  opacity: 0;
  overflow-y: auto;
}
.informations:hover {
  cursor: pointer;
  opacity: 1;
}
main p {
  margin-bottom: 5px;
  font-size: 14px;
}
p i {
  color: yellow;
}
